.stfolder
.trash
.stignore
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
.obsidian/plugins/smart-connections/

# Wait until submitted
Technion/DVI1/DVI1_HW001 פרויקטון 1.md
Technion/DVI1/DVI1_HW002 פרויקטון 2.md
Technion/IME1/IME1_HW004 תרגיל בית 4.md
