.stfolder
.trash
.stignore
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections
.obsidian/plugins/smart-connections/

# Wait until submitted

Technion/IRB1/IRB1_P001 פרויקט.md
