/*
Publish only
============ 
*/

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@700&display=swap);

/*
Publish and Local
=================
 */

/* All images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt*="bwhite"] {
  background-color: white;
}

img[alt*="invert"] {
  filter: invert(1);
}

img[alt*="bmult"] {
  mix-blend-mode: screen;
}

/* General */
.theme-dark {
  --figure-background-color: var(--color-base-100);
}

.theme-light {
  --figure-background-color: var(--color-base-00);
}


/* Not code blocks */
.markdown-rendered code {
  display: inline-block;
  direction: ltr;
  unicode-bidi: plaintext;
}

/* Center tables */
table {
  margin-right: auto;
  margin-left: auto;
}

/* Center table headers */
.markdown-rendered thead tr > th {
  text-align: start !important;
}

/* Allow images in callouts to smoothly interact with the callout background */
.callout {
  mix-blend-mode: inherit;
}

.callout[data-callout="notes"] {
  --callout-color: var(--callout-tip);
  --callout-icon: message-square-plus;
}

.callout[data-callout="def"] {
  --callout-color: var(--callout-default);
  --callout-icon: book-open;
}

.callout[data-callout="theorem"] {
  --callout-color: var(--callout-default);
  --callout-icon: wand-2;
}

.callout[data-callout="formula"] .callout-content {
  --callout-color: var(--callout-default);
  --callout-icon: sigma;
}

.callout[data-callout="quote"] .callout-content {
  font-family: "Times New Roman", Times, serif;
}

/* block quotes (for image captioning) */
.markdown-rendered blockquote {
  border-left: 0;
  border-right: 0;
  font-size: var(--font-ui-medium);
  color: var(--icon-color-hover);
}

.markdown-rendered blockquote p {
  text-align: center !important;
}

/* transparent background, black themed */
.theme-dark img[alt*="book"] {
  mix-blend-mode: screen;
  filter: invert(1);
}

.theme-light img[alt*="book"] {
  mix-blend-mode: multiply;
}

/* transparent background, black themed, with hue filter */
.theme-dark img[alt*="bookhue"] {
  mix-blend-mode: screen;
  filter: hue-rotate(180deg) invert(1);
}

.theme-light img[alt*="bookhue"] {
  mix-blend-mode: multiply;
}

/* Vector art also need to have a transparent background */
.theme-light img[alt*="svg"] {
  filter: invert(1);
}

.theme-light img[alt*="ignore"] {
  filter: unset !important;
}

/* Dark theme for GeoGebra applets */
.theme-dark .geo {
  mix-blend-mode: screen;
  filter: invert(1);
}

.theme-light .geo {
  mix-blend-mode: multiply;
}

/* Center iframes */
iframe.external-embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 
Testimonials (Publish and local)
============
*/

.testimonials {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  direction: rtl;
}

figure.testi {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: var(--text-on-accent-inverted);
  text-align: right;
  box-shadow: none !important;
}

figure.testi * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.testi img {
  max-width: 100%;
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin: 40px 0 0 10px;
  bottom: 45px;
}

figure.testi blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  text-align: right;
  background-color: var(--figure-background-color);
  padding: 25px 50px 30px 50px;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  color: var(--blockquote-color);
  font-style: italic;
}

figure.testi blockquote:before,
figure.testi blockquote:after {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  content: "\201D";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.testi blockquote:before {
  right: 20px;
  top: 25px;
}

figure.testi blockquote:after {
  bottom: 0;
  left: 20px;
  transform: scaleX(-1);
  content: "\201D";
}

figure.testi .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 25px solid transparent;
  border-top: 25px solid var(--figure-background-color);
  margin: 0;
  position: absolute;
}

figure.testi .author {
  position: absolute;
  bottom: 45px;
  padding: 0 120px 0 10px;
  margin-left: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.testi .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 700;
}
figure.testi .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

/*
Publish only
============ 
*/

/* Variables */
.published-container {
  --page-width: 600px;
  --sidebar-left-border-width: 2px;
  --sidebar-right-border-width: 2px;
  --site-name-size: 36px;
  --logo-max-height: 100px;
  --component-title-size: var(--font-ui-medium);
  --font-caption-size: 15px;
}

/* Set the whole page to rtl */
.published-container {
  direction: rtl;
}

.published-container .markdown-rendered h1,
.published-container .markdown-rendered h2 {
  border-bottom: 0px;
}

.published-container,
.published-container .markdown-rendered h2 {
  margin: 0.5em 0 0.25em;
}

.published-container .markdown-rendered h3,
.published-container .markdown-rendered h4 {
  margin: 0.25em 0 0 0.25em;
}

:root {
  direction: inherit;
  text-orientation: sideways-right;
}

h1,
h2,
h3,
h4,
h5,
.page-header,
.markdown-rendered th {
  font-weight: bold;
}

.is-collapsed .collapse-icon svg {
  transform: rotate(90deg);
}

/* Fix rtl shenanigans */

.site-body-left-column {
  padding: 32px 18px 0 0;
  border-left: var(--sidebar-left-border-width) solid
    var(--sidebar-left-border-color);
  border-right: 0;
}

.site-body-left-column .site-body-left-column-inner {
  margin-right: auto;
  margin-left: 0;
}

.site-body-left-column-site-logo img {
  margin-left: auto;
  margin-right: auto;
}

.theme-dark .site-body-left-column-site-logo {
  filter: invert(1);
}

.theme-dark .site-header-logo {
  filter: invert(1);
}

.site-body-left-column-site-name {
  padding: 4px 16px 32px 16px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Secular One", sans-serif;
  font-weight: 400;
}

.site-body-left-column-site-theme-toggle .option.mod-light {
  left: 0;
  right: 2px;
}

.site-body-left-column-site-theme-toggle .option.mod-dark {
  left: 0;
  right: 22px;
}

.site-body-left-column .search-view-outer {
  padding-right: 0;
  padding-left: 18px;
}

.extra-title {
  right: 0;
  left: unset;
}

/* Navigation bar */
.nav-view-outer .tree-item-children .tree-item-children {
  padding-right: 18px;
  padding-left: 0;
}

.nav-view-outer .tree-item-self {
  margin-right: -1px;
  border-right: 1px solid transparent;
  padding-right: 16px;
  padding-left: 0.7em;
  margin-left: 0;
  border-left: 0;
}

.nav-view-outer .tree-item-children {
  padding-left: 0;
  padding-right: 6px;
}

.nav-view-outer .tree-item-self:not(.mod-collapsible) {
  border-right: 1px solid var(--nav-item-border-color);
  border-left: 0;
}

.nav-view-outer .tree-item-self:hover:not(.mod-collapsible):not(.mod-active) {
  border-right: 1px solid var(--nav-item-border-color-hover);
  border-left: 0;
}

.nav-view-outer .tree-item-self.mod-active {
  background-color: transparent;
  font-weight: var(--nav-item-weight-active);
  padding-left: 0.1em;
  color: var(--nav-item-color-active);
  border-right: 1px solid var(--nav-item-border-color-active);
  padding-right: 16px;
  border-left: 0;
}

.nav-view-outer .tree-item-self.mod-collapsible.is-clickable {
  margin-left: 0;
  margin-right: -8px;
}

.nav-view-outer .tree-item-children .tree-item-children .tree-item-children {
  padding-right: 18px;
  margin-right: -1px;
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}

.site-body-right-column {
  right: initial;
  left: 0;
  border-right: var(--sidebar-right-border-width) solid
    var(--sidebar-right-border-color);
  border-left: 0;
}

@media screen and (max-width: 750px) {
  .nav-view-outer .tree-item-self.is-clickable {
    padding: unset;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .nav-view-outer .tree-item-self.is-clickable .tree-item-icon.collapse-icon {
    order: unset;
  }
  .nav-view-outer
    .tree-item-children
    .tree-item-children
    .tree-item-self.is-clickable:not(.mod-collapsible)
    .tree-item-inner {
    padding-right: unset;
    padding-left: unset;
  }
  .published-container.has-navigation .site-body-left-column {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 1200px) {
  .publish-renderer {
    margin-left: 0;
  }
  .published-container {
    --footer-display: none;
  }
  .published-container.has-outline .site-body-right-column,
  .published-container.has-graph .site-body-right-column {
    display: none;
  }
  body:not(.sliding-windows)
    .is-readable-line-width.has-outline.has-navigation
    .publish-renderer
    > .markdown-preview-view
    > .markdown-preview-sizer,
  body:not(.sliding-windows)
    .is-readable-line-width.has-graph.has-navigation
    .publish-renderer
    > .markdown-preview-view
    > .markdown-preview-sizer {
      margin-right: 0;
  }
  
}

@media screen and (min-width: 1200px) {
  body:not(.sliding-windows)
    .is-readable-line-width.has-outline.has-navigation
    .publish-renderer
    > .markdown-preview-view
    > .markdown-preview-sizer,
  body:not(.sliding-windows)
    .is-readable-line-width.has-graph.has-navigation
    .publish-renderer
    > .markdown-preview-view
    > .markdown-preview-sizer {
      margin-right: 0;
  }
}

.not-found-container {
  right: 0;
  top: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* Left "On This Page" bar */
.site-body-right-column .site-body-right-column-inner {
  margin-right: unset;
  margin-left: auto;
  width: 100%;
  max-width: unset;
}

.outline-view-outer .tree-item-self {
  padding-left: 0.7em;
  padding-right: unset;
}

.outline-view-outer .tree-item-children {
  border-right: 1px solid var(--nav-item-border-color);
  border-left: 0;
}

.tree-item-children {
  padding-right: 18px;
  padding-left: 0;
}

.list-item .published-section-header {
  font-size: var(--font-ui-medium);
}

.site-footer {
  left: 18px;
  right: auto;
}

/* Edit in Github */
/* .edit-in-github {
  max-width: var(--page-width);
  margin-left: var(--sidebar-right-width);
  padding: 0 var(--page-side-padding);
  direction: ltr;
} */
