/* All images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.excalidraw-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt*="bwhite"] {
  background-color: white;
}

img[alt*="invert"] {
  filter: invert(1);
}

.theme-light img[alt*="bscreen"] {
  mix-blend-mode: multiply;
  filter: invert(1);
}

.theme-dark img[alt*="bscreen"] {
  mix-blend-mode: screen;
}


img[alt*="bmult"] {
  mix-blend-mode: multiply;
}

/* General */
.theme-dark {
  --figure-background-color: var(--color-base-100);
}

.theme-light {
  --figure-background-color: var(--color-base-00);
}

.theme-light img[alt*="book"] {
  mix-blend-mode: multiply;
}

/* transparent background, black themed */
.theme-dark img[alt*="book"] {
  mix-blend-mode: screen;
  filter: invert(1);
}

.theme-light img[alt*="bookhue"] {
  mix-blend-mode: multiply;
}

/* transparent background, black themed, with hue filter */
.theme-dark img[alt*="bookhue"] {
  mix-blend-mode: screen;
  filter: hue-rotate(180deg) invert(1);
}

/* Vector art also need to have a transparent background */
.theme-light img[alt*="svg"] {
  filter: invert(1) hue-rotate(180deg);
}

.theme-light img[alt*="ignore"] {
  filter: unset !important;
}

.theme-light .geo {
  mix-blend-mode: multiply;
}

/* Dark theme for GeoGebra applets */
.theme-dark .geo {
  mix-blend-mode: screen;
  filter: invert(1);
}

/* Not code blocks */
.markdown-rendered code {
  direction: ltr;
  unicode-bidi: plaintext;
  display: inline-block;
}

.cm-html-embed th, .markdown-rendered th {
  font-weight: 400;
}

/* Center tables */
table {
  margin-right: auto;
  margin-left: auto;
}

/* Center table headers */
.markdown-rendered thead tr>th {
  text-align: start !important;
}

/* Allow images in callouts to smoothly interact with the callout background */
.callout {
  mix-blend-mode: inherit;
}

.callout[data-callout="notes"] {
  --callout-color: var(--callout-tip);
  --callout-icon: message-square-plus;
}

.callout[data-callout="def"] {
  --callout-color: var(--callout-default);
  --callout-icon: book-open;
}

.callout[data-callout="theorem"] {
  --callout-color: var(--callout-default);
  --callout-icon: wand-2;
}

.callout[data-callout="formula"] {
  --callout-color: var(--callout-default);
  --callout-icon: sigma;
}

.callout[data-callout="quote"] .callout-content {
  font-family: 'Times New Roman', Times, serif;
}

.callout[data-callout="new"] {
  --callout-icon: sparkles;
  --callout-color: 0, 174, 255;
}

/* block quotes (for image captioning) */
.markdown-rendered blockquote {
  border-inline-start: 0 !important;
  border-left: 0;
  border-right: 0;
  font-size: var(--font-caption-size);
  color: var(--icon-color-hover);
  text-align: start;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

/* Center iframes */
iframe.external-embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.app-container {
  --font-caption-size: 18px;
}

.markdown-rendered .list-bullet {
  float: inline-start;
}

/* Padding between numbers */
.markdown-rendered ol>li,
.markdown-rendered ul>li {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.markdown-rendered ol.has-list-bullet>li,
.markdown-rendered ul.has-list-bullet>li {
  padding-top: var(--list-spacing);
  padding-bottom: var(--list-spacing);
}

div.page-break::after {
  content: "Break page. Need at least 1 blank line after.";
  display: block;
  font-style: italic;
  color: gray;
}

/* 
Testimonials
============
*/

.testimonials {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  direction: rtl;
}

figure.testi {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: var(--text-on-accent-inverted);
  text-align: right;
  box-shadow: none !important;
}

figure.testi * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.testi img {
  max-width: 100%;
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin: 40px 0 0 10px;
  bottom: 45px;
}

figure.testi blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  text-align: right;
  background-color: var(--figure-background-color);
  padding: 25px 50px 30px 50px;
  font-size: 17px;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  color: var(--blockquote-color);
  font-style: italic;
}

figure.testi blockquote:before,
figure.testi blockquote:after {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  content: "\201D";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.testi blockquote:before {
  right: 20px;
  top: 25px;
}

figure.testi blockquote:after {
  bottom: 0;
  left: 20px;
  transform: scaleX(-1);
  content: "\201D";
}

figure.testi .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 25px solid transparent;
  border-top: 25px solid var(--figure-background-color);
  margin: 0;
  position: absolute;
}

figure.testi .author {
  position: absolute;
  bottom: 45px;
  padding: 0 120px 0 10px;
  margin-left: 0;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

figure.testi .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 700;
}

figure.testi .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}

.mermaid {
  text-align: center;
}

.mermaid svg {
  max-width: 700px;
  height: auto;
}

/*
PDF only
==========
 */


@media print {

  h1.__title__ {
    font-size: 2.102em !important;
    text-align: center;
    margin-top: 320px;
    margin-bottom: 160px;
    font-style: normal;
    font-weight: 400 !important;
  }

  h1.__inner_title__ {
    font-size: 2.102em !important;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 400 !important;
  }

  h1,
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }

  img, div.math, span.internal-embed {
    page-break-before: avoid;
  }

  pre,
  blockquote {
    page-break-inside: avoid;
  }

  /* use double <hr> ('---') to indicate a page break */
  hr + hr {
    page-break-before: always;
    visibility: hidden;
  }

  hr:has(+ hr) {
    visibility: hidden;
  }

  :not(hr) + hr + :not(hr):not(h2) {
    border-top: 1px solid black;
    padding-top: 2em;
  }

  body {
    font-family: "David" !important;
    --font-interface-override: "David" !important;
    --font-print: "David" !important;
    --font-text-size: 14pt !important
  }

  table {
    direction: rtl !important;
  }

  div.page-break::after {
    display: none !important;
  }

  /* block quotes (for image captioning) */
  .markdown-rendered blockquote {
    color: inherit !important;
  }
}