img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt*="bwhite"] {
  background-color: white;
}

img[alt*="invert"] {
  filter: invert(1);
}

img[alt*="bmult"] {
  mix-blend-mode: screen;
}

table {
  margin-right: auto;
  margin-left: auto;
}

.markdown-rendered thead tr > th {
  text-align: start !important;
}

.callout {
  mix-blend-mode: inherit
}

.theme-dark img[alt*="book"]{
  mix-blend-mode: screen;
  filter: invert(1);
}

.theme-light img[alt*="book"]{
  mix-blend-mode: multiply;
}

.theme-light img[alt*="svg"] {
  filter: invert(1);
}

.theme-dark .geo {
  mix-blend-mode: screen;
  filter: invert(1);
}

.theme-light .geo {
  mix-blend-mode: multiply;
}

iframe.external-embed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}